$w: 640px;
* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #fdfff2;
    font-family: Arial;
    color: #555;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 750px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

img,
iframe,
acronym {
    border: 0;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
button,
a {
    background: none;
    border: none;
    outline: medium;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*-webkit-tap-highlight-color:rgba(0,0,0,0);  -webkit-user-modify:read-write-plaintext-only; }*/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b1b1b1;
}

img,
div {
    position: absolute;
}

#loading {
    z-index: 200;
    -webkit-animation: 0.8s 1s left linear forwards;
}

#foreword {
    width: $w;
    height: 960px;
    z-index: 100;
    ul {
        list-style: none;
        width: $w;
        position: absolute;
    }
    li {
        width: $w;
        float: left;
        position: absolute;
    }
    li:nth-child(1) {
        z-index: 100;
    }
    li:nth-child(2) {
        z-index: 90;
    }
    li:nth-child(3) {
        z-index: 80;
    }
}

#calc {
    width: $w;
    height: 100%;
    div:nth-child(1) {
        width: $w;
        height: 100%;
        background: url('../img/p5.png') no-repeat;
        button {
            position: absolute;
            width: 266px;
            height: 86px;
            top: 826px;
            left: 166px;
        }
    }
    div:nth-child(2) {
        background: url('../img/p6.png') no-repeat;
        width: $w;
        height: 100%;
        display: none;
    }
}

.up {
    -webkit-animation: 1s up linear forwards;
}

@-webkit-keyframes left {
    to {
        -webkit-transform: translate(-640px)
    }
}

@-webkit-keyframes up {
    to {
        -webkit-transform: translateY(-960px)
    }
}